# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pt
*.pth
*.onnx
*.weights

.Python
venv/

# Data
data/vector_db/

# Models (if not part of the repo)
# models/*.pt
# models/*.pth

*.sanayi_sozlugu.json
